<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Text analyzer...Enter your text to analyse : </h1>
    <form action="/removepunc" method="get">
        <textarea name="text" id="" cols="30" rows="10" style="width: 753px; height: 174px;"></textarea>

        <button class="submit">Analyse Text</button>
    </form>
</body>
</html>